@import "../../assets/styles/helper";
.tomatoes {
  border: 1px solid #ddd;
  background: #fff;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  width: calc(50% - 15px);
  .box-shadow-base;
}

@media(max-width:500px) {
  .tomatoes {
    width: 100%;
  }
}
